#task-form{
    height: 400px; 
    width: 400px;
    display: flex;
    flex-flow: column;
}

#project-name{
    height: 30px;
    width: 100px;
    border: 2px solid black;
    padding: 3px;
    cursor: pointer;
}

#project-name:focus, 
#project-name:active, 
#project-name:hover{
    background-color: lightyellow;
}

.projects {
    border: none;
    font-size: 3em;
    background-color: rgba(255, 255, 224, 0.575);
    box-shadow: (
        0 20px yellow,
        0 40px yellow
    );
    cursor: pointer;
}

.active-project {
  background-color: green;
}

.inactive-project {
  background-color: rgba(255, 255, 224, 0.575);
  box-shadow: 0 20px yellow, 0 40px yellow;
}

#project-container{
    border: 1px solid black;
    min-height: 200px;
    max-height: auto;
    display: flex;
    flex-flow: column;
    
}
.label-container{
    border: 1px solid blue;
    display: flex;
    gap: 3px;
    height: 50px;
    min-width: 100px;
    max-width: auto;
}